$def with (content)


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PDSD 2014</title>

	<script type="text/javascript"
	    src="https://maps.googleapis.com/maps/api/js?sensor=true">
	</script>


    <!-- Framework CSS -->
    <link rel="stylesheet" href="static/screen.css" type="text/css">

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="static/fancy-screen.css" type="text/css">

  </head>

<body onload="initialize()">

<div class="container">
<hr class="space"/>

<h1>Proiect PDSD 2014 - $content.title</h1>
<hr/>
<div id="menu" class="span-4 colborder">
<h2 class="alt">Menu</h2>
<hr/>
<a href="/" style="color: #56b04f;font-size:x-large;">First page</a><br>
<a href="/Victim" style="color: #56b04f;font-size:x-large;">Victim</a><br>
<a href="/Criminal" style="color: #56b04f;font-size:x-large;">Criminal</a><br>

</div>

<div id="content" class="span-19 last">
$:content
</div>

<div id="footer" class="span-24">
Hello !
</div>

</div>
</body>
</html>
