$def with (text, dummy_list)

$var title: Map Visualizer

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
    #map_wrapper {
        height: 800px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };
                        
        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);
            
        // Multiple Markers
        var markers = [
            $for (lat, lng) in dummy_list:
                [" ", $lat, $lng],
        ];
                            
        // Display multiple markers on a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        
        // Loop through our array of markers & place each one on the map  
        for( i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });
            
            // Allow each marker to have an info window    
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    //infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
            
            //TODO - asta ar trebui sa fie configurabil 
            this.setZoom(7);
            google.maps.event.removeListener(boundsListener);
        });
        
    }
    </script>

<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>

<!-- http://maps.unomaha.edu/peterson/carta/AssignmentsNew/GoogleMapsPlottingPoints.htm -->
